




.logo {
     width: 30px;
     height: 30px;
}

tr {
     text-align: center;
     th,td {
          cursor: pointer;
     }
}

thead{
     tr{
          th{
               cursor: default;
          }
     }
}


.navbar-brand,.logo-brand {
     width: 200px;
     height: 60px;
     display: flex;
     align-items: center;
}